* {
    outline: none; /* OSX fix */
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: #ECF0F1;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.container {
    display: flex;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: center;
}

[class*='col-'] {
    flex-grow: 1;
    padding: 15px;
}

[class*='col-'] .content {
    padding: 15px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 2px;
}

.col-1-4 {
    flex-basis: 25%;
}

.col-2-4 {
    flex-basis: 50%;
}

.col-3-4 {
    flex-basis: 80%;
}

.col-4 {
    flex-basis: 100%;
}

.hide {
    display: none;
}

.turq {
    background-color: #1abc9c;
    color: #fff;
}

.green {
    background-color: #2ecc71;
    color: #fff;
}

.blue {
    background-color: #3498db;
    color: #fff;
}

.yellow {
    background-color: #f1c40f;
    color: #fff;
}

.dark-blue {
    background-color: #34495e;
    color: #fff;
}

.white {
    background-color: #fff;
    color: black;
}

.red {
    background-color: #c0392b;
    color: white;
}

.btn {
    display: inline-block;
    position: relative;
    width: 120px;
    height: 32px;
    border: none;
    border-radius: 2px;
    font-size: 0.9em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.btn:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.logo-wrapper {
    width: 200px;
    margin: 15px auto;
    text-align: center;
}

.logo {
    display: inline;
}

#menu [class*='col-'] .content {
    height: 210px;
}
#trigger h1 {
    margin-top: 5px;
}
#trigger input[type="text"] {
    padding: 5px 0;
    margin-bottom: 15px;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #16A085;
    background-color: transparent;
    color: #006D52;
    transition: all 150ms ease-out;
}

#trigger input[type="text"]:focus {
    border-bottom: 2px solid #006D52;
}

#trigger input[type="text"]::-webkit-input-placeholder {
    color: #16A085;
}

#trigger input[type="text"]:-moz-placeholder { /* Firefox 18- */
    color: #16A085;
}

#trigger input[type="text"]::-moz-placeholder {  /* Firefox 19+ */
    color: #16A085;
}

#trigger input[type="text"]:-ms-input-placeholder {
    color: #16A085;
}

#score h1 {
    margin-top: 5px;
}

#score span {
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    letter-spacing: -1px;
}

#gameArea {
    width: 100%;
    max-width: 1280px;
    min-height: 400px;
    margin: 0 auto 85px auto;
    padding: 30px;
    background-image: url('../img/felt.png');
    background-repeat: repeat;
}

#gameArea:after {
    content: "";
    display: table;
    clear: both;
}

#gameArea p {
    color: white;
    text-align: center;
}

.card {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    float: left;
    width: 200px;
    height: 300px;
    margin: 10px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    cursor:pointer;
}

.card.zero {
    background-image: url('../img/card-0-desktop.png');
}

.card.one {
    background-image: url('../img/card-1-desktop.png');
}

.card.two {
    background-image: url('../img/card-2-desktop.png');
}

.card.three {
    background-image: url('../img/card-3-desktop.png');
}

.card.four {
    background-image: url('../img/card-4-desktop.png');
}

.card.selected {
    box-shadow: none;
    opacity: 0.5;
    cursor: no-drop;
}

footer {
    background-color: #16a085;
    width: 100%;
    position: fixed;
    bottom:0;
    height: 50px;
    padding: 15px;
}

footer .copyright {
    width: 100%;
    max-width: 1280px;
    text-align: center;
    margin: 0 auto;
}

footer .copyright p {
    margin: 0;
    color: white;
}

#actions {
    width: 150px;
    position: fixed;
    bottom: 75px;
    right: 15px;
}

#actions .btn {
    width: 100%;
    margin-bottom: 15px;
    height:35px;
    padding: 7px;
    text-align: center;
}


@media screen and (max-width: 480px){
    #gameArea {
        padding:0;
        margin-bottom: 50px;
    }
    .card {
        width: 90px;
        height: 150px;
    }
    .card.zero {
        background-image: url('../img/card-0-mobile.png');
    }

    .card.one {
        background-image: url('../img/card-1-mobile.png');
    }

    .card.two {
        background-image: url('../img/card-2-mobile.png');
    }

    .card.three {
        background-image: url('../img/card-3-mobile.png');
    }

    .card.four {
        background-image: url('../img/card-4-mobile.png');
    }
}